.wrapper {
	position: fixed;
	right: 0;
	top: 0;
	background-color: #fff;
	width: 65%;
    height: 100vh;
    box-shadow: -1px 0 5px gray;
    padding: 20px;
    transform: translateX(100%);
    transition: all .3s;
}

.title {
	text-align: center;
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 400;

}
.categories{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.overlay{
    position: fixed;
    text-align: right;
    padding: 10px 10px 0 0;
    left: 0;
    top: 0;
    width: 35%;
    height: 100vh;
    background-color: #1e272e4C;
    transform: translateX(-100%);
    transition: all .3s;
}
.category__show, .overlay__show{
    transform: translateX(0);
}
@media only screen and (min-width: 1200px){
    .wrapper, .overlay{
        width: 50%;
    }
}