.cart {
  border: 1px solid #d9dde0;
  background-color: #f2f5f7;
}
.item__img {
  width: 100%;
  height: 100%;
}

.item__price,
.item__name {
  text-align: center;
  padding: 3px 0;
  color: #586875;
  font-weight: 400;
}
.item__price {
  font-weight: 600;
  border-bottom: 1px solid #e1e2e4;
}
@media only screen and (min-width: 1200px) {
  .cart {
    cursor: pointer;
  }
}
